COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=grafana.yml:prometheus-metrics.yml:loki-logs.yml:promtail-logs.yml:portainer.yml:prometheus-exposed.yml

GRAFANA_DOMAIN=localhost
GRAFANA_ADMIN_USER=myadmin
GRAFANA_ADMIN_PASSWORD=mypass

LOGS_LABEL=georgeserver
